<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的主页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>

</head>
<body>
<!-- 顶部导航 -->
<div class="navbar navbar-fixed-top" role="navigation" id="menu-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <img alt="Brand" src="img/brand.jpg"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="" class="black-feature">首页</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                    <button  class="btn btn-link">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-info btn-info-nav ">写博客</a></button>
                <li>
                    <button class="btn btn-info btn-info-nav ">分享资源</a></button>
                <li>
                    <button class="btn btn-info btn-info-nav ">提问</a></button>
                <li class="dropdown">
                    <button class="btn-nav dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        <img src="img/display-photo.jpg" class="img-circle img-sm">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 我的主页</a></li>
                        <li><a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-cog"
                                                                                aria-hidden="true"></span> 个人信息</a>

                        </li>
                        <li><a href=""><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr class="navhr">
    </div>
</div>
<!-- 基本资料 -->
</div>
<div class="container">
    <div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" id="userInfo">
                        <div class="col-md-3 " style="text-align: center;padding-top: 50px">
                            <img src="img/display-photo.jpg" class="img-circle img-lg">
                        </div>
                        <div class="col-md-9 ">
                            <!--<p class="pull-right" ><span class="badge">积分:42</span></p>-->
                            <h3 style="font-weight: bold">{{ user_name }}</h3>

                            <p><span class="text-muted">性别：</span>{{ user_sex }}</p>
                            <p><span class="text-muted">职业：</span>{{ user_job }}</p>
                            <p><span class="text-muted">兴趣：</span>{{ user_favorite }}</p>
                            <p><span class="text-muted">个性签名：</span>{{ user_signature }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-sm-3 col-md-3 col-lg-3 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group" id="blogClassify">
                            <li class="list-group-item">我的分类</li>
                            <blog-classify v-for="item in classifys" v-bind:classify="item"></blog-classify>


                            <div class="btn-group">
                                <button type="button" class="btn btn-default no-border" data-toggle="modal" data-target=".bs-example-modal-sm">
                                    新增
                                </button>
                                <button type="button" id="EditTag" onclick="EditTag()" class="btn btn-default no-border">
                                    编辑
                                </button>
                                <button type="button" id="DeleteTag" onclick="ChangeBtn()" class="btn btn-default no-border">
                                    删除
                                </button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist" id="feature-tab">
                        <li class="active" style=><a href="#tab-article" role="tab"
                                                                        data-toggle="tab">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 博文<span>(12)</span></a>
                        </li>
                        <li style=><a href="#tab-resource" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> 贡献资源<span>(12)</span></a></li>
                        <li style=><a href="#tab-question" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ta的提问<span>(12)</span></a>
                        </li>
                        <li style=><a href="#tab-answer" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Ta的回答<span>(2)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-article">
                            <div class="list-group" id = "blogArea">
                                <blog-brief v-for="item in blogs" v-bind:blog="item"></blog-brief>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-resource">
                            <div class="list-group" id = "uploadArea">
                                <upload-brief v-for="item in uploads" v-bind:upload="item"></upload-brief>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-question">
                            <div class="list-group" id="questionArea">
                                <question-brief v-for="item in questions" v-bind:question="item"></question-brief>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-answer">
                            <div class="list-group ">
                                <div class="list-group-item">
                                    <div class="pull-right">
                                        <span class="label label-info">java</span>
                                        <span class="label label-info">计划书</span>
                                    </div>
                                    <h3>怎么写java开发计划书？</h3>
                                    <p>
                                        java开发计划书应该这样写................
                                    </p>
                                    <span class="text-muted">悬赏积分：</span>3&nbsp&nbsp&nbsp
                                    <span class="text-muted">状态：</span>未解决&nbsp&nbsp&nbsp
                                    <span class="text-muted">回答数：</span>123&nbsp&nbsp&nbsp
                                    <span class="text-muted">发表时间：</span>7小时前&nbsp&nbsp&nbsp
                                    <span class="text-muted">提问者：</span>小民&nbsp&nbsp&nbsp
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabe2">输入新分类</h4>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control"/>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-success" data-dismiss="modal" >确定</button>
        </div>
    </div>
    </div>
</div>
<script>
    var btnname=["Java","python","J2EE"];
    function ChangeBtn(){
        var Btn=document.getElementById("DeleteTag");
        var BtnVal=Btn.innerHTML;
        for(i=0;i<btnname.length;i++){
            DisplayOrHiddenBtn(btnname[i]);
        }
        if(BtnVal.indexOf("删除") >= 0){
            Btn.innerHTML="完成";
        }
        if(BtnVal.indexOf("完成")>=0){
            Btn.innerHTML="删除";
        }
    }
    function EditTag(){
        var Btn=document.getElementById("EditTag");
        var BtnVal=Btn.innerHTML;
        for(i=0;i<btnname.length;i++){
            DisplayOrHiddenBtn(btnname[i]+"Edit");
        }
        if(BtnVal.indexOf("编辑") >= 0){
            Btn.innerHTML="完成";
        }
        if(BtnVal.indexOf("完成")>=0){
            Btn.innerHTML="编辑";
        }
    }
    function RemoveOne(name) {
        var btn = name + "Btn";
        var parent = document.getElementById(name).parentNode;
        parent.parentNode.parentNode.removeChild(parent.parentNode);

    }
    function DisplayOrHiddenBtn(btnId) {
        var currentBtn = document.getElementById(btnId);
        if (currentBtn.style.display == "none") {
            currentBtn.style.display = "block"; //style中的display属性
        }
        else {
            currentBtn.style.display = "none";
        }
    }


    var userInfo = new Vue({
        el: "#userInfo",
        data: {
            user_name: '佚名',
            user_sex: '男',
            user_job: '学生',
            user_favorite: '编程',
            user_signature: '没有签名'
        }
    })

    Vue.component('blog-classify',{
        props:['classify'],
        template:' <li class="list-group-item">'+
        '                                <div class="btn-group">'+
        '                                    <button type="button" class="btn btn-default no-border" v-bind:id="classify.classifyId" >'+
        '                                        <span class="glyphicon glyphicon-book" aria-hidden="true" ></span> {{ classify.classifyName }}'+
        '                                    </button>'+
        '                                    <button  class="btn btn-default no-border" onclick="RemoveOne($event)" style="display: none">'+
        '                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'+
        '                                    </button>'+
        '                                    <button  class="btn btn-default no-border" id="J2EEEdit" style="display: none">'+
        '                                        <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>'+
        '                                    </button>'+
        '                                </div>'+
        '                            </li>'
    })
    var blogClassify = new Vue({
        el: '#blogClassify',
        data:{
            classifys:[
                {
                    classifyId: '1',
                    classifyName: 'Java'
                },
            ]
        }
    })

    Vue.component('blog-brief',{
        props:['blog'],
        template:'<div class="list-group-item">'+
        '                                    <a class="" href=""><img src="img/display-photo.jpg" class="img-circle img-md"></a>'+
        '                                    <span>{{ blog.authorName }} </span>'+
        '                                    <h3>{{ blog.blogTitle }}</h3>'+
        '                                    <p>{{ blog.blogContent }}</p>'+
        '                                    <div class="btn-group btn-group-xs" role="group" aria-label="article-btn">'+
        '                                        <button type="button" class="btn btn-default no-border">'+
        '                                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'+
        '                                            {{ blog.viewNum }}'+
        '                                        </button>'+
        '                                        <button type="button" class="btn btn-default no-border">'+
        '                                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>'+
        '                                            {{ blog.leaveNum }}'+
        '                                        </button>'+
        '                                        <button type="button" class="btn btn-default no-border">'+
        '                                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>'+
        '                                            {{ blog.goodNum }}'+
        '                                        </button>'+
        '                                    </div>'+
        '                                    <hr/>'+
        '                                </div>'
    })

    var blogArea = new Vue({
        el:"#blogArea",
        data:{
            blogs:[
                {
                    authorName: '未命名',
                    blogTitle: '标题',
                    blogContent: '没有简介',
                    viewNum: '0',
                    leaveNum:'0',
                    goodNum:'0'
                }

            ]
        }
    })

    Vue.component('upload-brief',{
        props:['upload'],
        template:'<div class="list-group">'+
        '                                <div class="list-group-item">'+
        '                                    <div class="pull-right">'+
        '                                        <span class="label label-info" style="margin-right: 3px;" v-for="tag in upload.tags">{{ tag.text }}</span>'+
        '                                    </div>'+
        '                                    <div class="media">'+
        '                                        <div class="media-left">'+
        '                                            <svg width="64" height="64" version="1.1" xmlns="http://www.w3.org/2000/svg">'+
        '                                                <rect width="50" height="60" style="fill:gray;"/>'+
        '                                                <polygon style="fill:#FFFFFF;" points="35,0 50,0 50,15 "/>'+
        '                                                <polygon style="fill:#FFFFFF;" points="30,3 45,20 30,20 "/>'+
        '                                                <text x="5" y="40" font-size="15" style="fill:white">RAR</text>'+
        '                                            </svg>'+
        '                                        </div>'+
        '                                        <div class="media-body">'+
        '                                            <h4 style="">{{ upload.name}}</h4>'+
        '                                            <p>{{ upload.description }}</p>'+
        '                                            <br>'+
        '                                            <span class="text-muted">所需积分：</span>{{ upload.score }}&nbsp&nbsp&nbsp'+
        '                                            <span class="text-muted">下载次数：</span>{{ upload.downNum }}&nbsp&nbsp&nbsp'+
        '                                            <span class="text-muted">上传时间：</span>{{ upload.uploadTime }}&nbsp&nbsp&nbsp'+
        '                                            <span class="text-muted">上传者：</span> {{ upload.userName }}'+
        '                                        </div>'+
        '                                    </div>'+
        '                                </div>'+
        '                                <hr>'+
        '                            </div>'
    })

    var uploadArea = new Vue({
        el:"#uploadArea",
        data:{
            uploads:[{
                name: '未命名',
                description:'没有描述',
                score:'0',
                downNum:'0',
                uploadTime:'2017-07-01 00:00:00',
                userName:'没有上传者',
                tags:[
                    {text:'java'},
                    {text:'c++'}
                ]
            }]
        }
    })

    Vue.component('question-brief',{
        props:['question'],
        template:'<div class="list-group-item">'+
        '                                    <div class="pull-right">'+
        '                                        <span class="label label-info" v-for="tag in question.tags">{{ tag.text }}</span>'+
        '                                    </div>'+
        '                                    <h3>{{ question.title }}</h3>'+
        '                                    <p>{{ question.questionContent }}</p>'+
        '                                    <span class="text-muted">悬赏积分：</span>{{ question.score }}&nbsp&nbsp&nbsp'+
        '                                    <span class="text-muted">状态：</span>{{ question.status }}&nbsp&nbsp&nbsp'+
        '                                    <span class="text-muted">回答数：</span>{{ question.ansNum }}&nbsp&nbsp&nbsp'+
        '                                    <span class="text-muted">发表时间：</span>{{ question.publishTime }}&nbsp&nbsp&nbsp'+
        '                                    <span class="text-muted">提问者：</span>{{ question.userName }}&nbsp&nbsp&nbsp'+
        '                                    <hr>'+
        '                                </div>'
    })

    var questionArea = new Vue({
        el:"#questionArea",
        data:{
            questions:[
                {
                    title: '未命名',
                    questionContent:'问题描述',
                    score:'0',
                    status:'待解决',
                    ansNum:'0',
                    publishTime:'2017-07-01 00:00:00',
                    userName:'佚名',
                    tags:[
                        {text:'java'},
                        {text:'c++'}
                    ]

                }
            ]
        }
    })

</script>

</body>
</html>